:root {
  --primary-blue: rgba(33, 150, 243, 1);
  --bg-black: rgba(47, 48, 58, 1);
  --bg-sect-white: rgba(245, 244, 250, 1);

  --hdr-text-black: rgba(33, 33, 33, 1);
  --primary-white: rgba(255, 255, 255, 1);
  --main-text-grey: rgba(117, 117, 117, 1);
  --ftr-text-grey-op60: rgba(255, 255, 255, 0.6);
}

.hero {
  background-color: var(--bg-black);
  /* height: 600px; */
}

.hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white);
 }

.btn {
  background-color: var(--primary-blue);
  color: var(--primary-white);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
}
/* advantages */

.adv-list {
  display: flex;
  padding: 0;
  margin-top: 94px;
  margin-bottom: 94px;
  
}

.adv-list li {
  width: calc(100% / 4);
  margin-right: 30px;

}

.adv-list li:last-child {

  margin-right: 0px;

}

/* task */
.task-list  {
  display: flex; 
  padding: 0;

}

.task-list li {
  width: calc(100% / 3);
  margin-right: 30px;
  margin-bottom: 94px;
}

.task-list li:last-child {

  margin-right: 0px;

}

.task-list {
  padding-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* team */
.team.title {
  padding-top: 94px;
}

.team-list {
  display: flex;
  padding: 0;
  margin-bottom: 94px;
 }

  .team-list li {
   width: calc(100% / 4);
   margin-right: 30px;
 }

   .team-list li:last-child {
    margin-right: 0;
 }



.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.pretitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  }

.team {
  background-color: var(--bg-sect-white);
}

.team-pretitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.advantages-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-grey);
  }

.position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-grey);
}
